@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@mixin gradient($from, $to){
    background-color: $from;

  background: -moz-linear-gradient($from, $to);

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  background: -webkit-linear-gradient($from, $to);

  background: -o-linear-gradient($from, $to);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

html{
    overflow-x: hidden;
    font-size: .8vw;
}

body{
    overflow-x: hidden;
    font-size: .8335vw;
    height: auto;
    @include gradient(#7247E9, #5500C0);
    
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

ul{
    margin-bottom: 0;
}

.page{    
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url("../images/background_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    pointer-events: none;
}

.logo{
    position: absolute;
    top: 3vw;
    left: 3vw;
}

.logo img{
    width: 13vw;
    min-width: 5rem;;
}

.content{
    position: relative;
    height: 92vh;
    max-height: 92vh;
    min-height: 92vh;
}

.information{
    padding-top: 6.5vw;
    z-index: 100;

    &__block{

        .percentage{
            padding-left: 3vw;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-hundred{
            width: 23vw;
            min-width: 12.5rem;
        }

        &-percents img{
            width: 3vw;
            min-width: 1.7rem;
        }

        &-title{
            text-align: center;
            margin-top: -1.5rem;

            h3{
                font-family: 'Rubik Mono One', sans-serif;
                font-size: 3vw;
                color: white;
                text-shadow: .5vw .5vw 1vw rgba(0,0,0,.4);
            }
        }

        #deposit{
            margin-top: -1rem;
        }

        &-button{
            padding-top: 2rem;
            .button{
                cursor: pointer;
                background: url("../images/button.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 15vw;
                min-width: 12rem;
                height: 4vw;
                min-height: 2rem;

                user-select: none;
                color: #fff;

                display: flex;
                justify-content: center;
                align-items: center;

                h1{
                    font-size: .8vw;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 900;
                    letter-spacing: .1em;

                    text-shadow:
                    -1px -1px 0 #AF002A,  
                    1px -1px 0 #AF002A,
                    -1px  1px 0 #AF002A,
                    1px  1px 0 #AF002A;

                    margin: 0;
                    padding: 0;

                    transition: opacity .5s ease;
                }
            }

            .button:hover{
                h1{
                    opacity: .8;
                }
            }

            #open-modal{
                margin-top: 1vw;
                color: #CDCDCD;
                font-size: .8rem;
                cursor: pointer;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                transition: opacity .5s ease;
            }

            #open-modal:hover{
                opacity: .8;
            }
        }
    }
}

footer{
    height: 5vw;
    background-color: #27264B;
    z-index: 100;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .footer-row{
        width: 100%;
    }

    .footer-logo img{
        width: 100%;
    }

    .footer-list{
        display: inline-flex;
    
        .footer-list-item{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0 1rem;

            a{
                color: #43426D;
                font-family: 'Roboto', sans-serif;
                font-size: .8rem;
                text-decoration: none;
                transition: opacity .5s ease;
            }

            a:hover{
                text-decoration: none;
                opacity: .8;
            }
        }
    }

    .copyright{
        color: #43426D;
        font-family: 'Roboto', sans-serif;
        font-size: .6vw;
        border-left: 1px solid #43426D;
    }

    #garland_on{
        transition: opacity 3s ease;
        width: 110vw;
        opacity: 0;
    }

    #garland_off{
        width: 110vw;
    }

    .footer-snow{
        position: absolute;
    }

    #footer_snow01{
        width: 7vw;
        top: -10%;
        left: 0;
        z-index: 1000;
    }

    #footer_snow02{
        width: 4vw;
        top: -10%;
        left: 25%;
        z-index: 1000;
    }

    #footer_snow03{
        width: 7vw;
        top: -10%;
        left: 45%;
        z-index: 1000;
    }

    #footer_snow04{
        width: 7vw;
        top: -10%;
        left: 70%;
        z-index: 1000;
    }

    #footer_snow05{
        width: 7vw;
        top: -10%;
        right: -4%;
        z-index: 1000;
    }
}

// Drawings

.drawings{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

#snow{
    bottom: -5vw;
    width: 100%;
    z-index: 9;
}

#presents{
    bottom: 1vw;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
}

#candies01{
    width: 35vw;
    left: -5vw;
    bottom: -5vw;
    z-index: 8;
}

#candies02{
    width: 35vw;
    right: 0;
    bottom: -5vw;
    z-index: 8;
}

#star1{
    width: 2vw;
    left: 3vw;
    bottom: 23vw;

    animation: 5s ease-in-out infinite star1_anim;
}

#star2{
    width: 3vw;
    left: 8vw;
    bottom: 27vw;
    animation: 7s ease-in-out infinite star2_anim;
}

#star3{
    width: 2.7vw;
    left: 23vw;
    bottom: 35vw;
    animation: 7s ease-in-out infinite star3_anim;
}

#star4{
    width: 2vw;
    right: 24vw;
    bottom: 20vw;
    animation: 5s ease-in-out infinite star4_anim;

}

#star5{
    width: 3vw;
    right: 20vw;
    bottom: 25vw;
    animation: 10s ease-in-out infinite star5_anim;

}

#star6{
    width: 4vw;
    right: 18vw;
    bottom: 35vw;
    animation: 10s ease-in-out infinite star6_anim;
}

#star7{
    width: 2.5vw;
    right: 1vw;
    bottom: 30vw;
    animation: 10s ease-in-out infinite star7_anim;

}

@keyframes star1_anim{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes star2_anim{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1.1);
    }
}

@keyframes star3_anim{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.7);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes star4_anim{
    0%{
        transform: scale(1.15);
    }
    50%{
        transform: scale(.85);
    }
    100%{
        transform: scale(1.1);
    }
}

@keyframes star5_anim{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.75);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes star6_anim{
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(.95);
    }
    100%{
        transform: scale(1.15);
    }
}

@keyframes star7_anim{
    0%{
        transform: scale(1.15);
    }
    50%{
        transform: scale(.85);
    }
    100%{
        transform: scale(1.1);
    }
}

#tree1{
    bottom: 0;
    left: 8vw;
    width: 18vw;
    z-index: 2;
}

#tree2{
    width: 22vw;
    bottom: 0;
    left: 14vw;
    z-index: 0;
}

#tree3{
    right: 0;
    bottom: 0;
    width: 28vw;
}

@media only screen and (max-height: 45vw){
    .content{
        height: 45vw;
        max-height: 45vw;
        min-height: 45vw;
    }
}

@media only screen and (pointer: fine) and (max-width: 955px){

    .page{
        height: auto;
    }

    .logo{
        position: absolute;
        top: 3vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo img{
        width: calc(10vw + 13vh);
    }

    .content{
        height: auto;
        min-height: 100vh;
        max-height: 250vh;
    }

    .information{
        padding-top: 13vw;

        &__block{
            &-hundred{
                width: calc(20vw + 30vh);
            }

            &-percents{
                img{
                    width: calc(2vw + 3.5vh);
                }
            }

            &-title{
                h3{
                    font-size: calc(2.5rem + 3.5vh);
                }
            }

            &-button{
                .button{
                    width: calc(20vw + 15vh);
                    height: calc(5vw + 10vh);
    
                    h1{
                        font-size: calc(2rem + .5vh);
                    }
                }

                #open-modal{
                    font-size: calc(1rem + 1.2vh);
                    margin-top: calc(1rem - 1vh);
                }
            }
        }   
    }

    footer{
        height: calc(10vw + 5vh);

        .footer-logo{
            justify-content: center;

            img{
                width: calc(10vw + 5vh);
            }
        }

        .footer-row{
            height: 80%;
            margin-left: 0;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .copyright{
            font-size: calc(1rem + .7vh);
            border: none;
    
            display: flex;
            justify-content: center;
            align-items: center;

            br{
                display: none;
            }
        }

        .footer-list{
            .footer-list-item{
                margin: 0 calc(1vw + 1vh);

                a{
                    font-size: calc(1rem + .7vh);
                }
            }
        }

        #footer_snow01,
        #footer_snow03,
        #footer_snow05{
            display: none;
        }

        #footer_snow02{
            width: 10vw;
            left: 10%;
        }
        
        #footer_snow04{
            width: 15vw;
            left: 80%;
        }

    }

    #presents{
        width: 50vw;
    }
    
    #candies01{
        width: 100vw;
        left: 50%;
        object-fit: contain;
        bottom: 0;
        transform: translateX(-50%);
    }

    #candies02{
        display: none;
    }

    #tree1{
        width: 35vw;
        left: -5vw;
    }

    #tree2{
        display: none;
    }

    #tree3{
        width: 45vw;
        right: -10vw;
    }

    #star1{
        width: 5vw;
        left: 70%;
        bottom: 35vw;
    }

    #star2{
        width: 3vw;
        left: 79%;
        bottom: 50vw;
    }

    #star3{
        width: 3vw;
        left: 75%;
        bottom: 40vw;
    }

    #star4{
        width: 2.5vw;
        left: 76%;
        bottom: 48vw;
    }

    #star5{
        width: 5vw;
        left: 80%;
        bottom: 65vw;
    }

    #star6{
        width: 4vw;
        left: 95%;
        bottom: 55vw;
    }

    #star7{
        display: none;
    }

}

@media only screen and (pointer: coarse) and (max-width: 955px){

    .page{
        height: auto;
    }

    .logo{
        position: absolute;
        top: 3vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo img{
        width: calc(10vw + 13vh);
    }

    .content{
        height: calc(100vh + 10vw);
        min-height: 100vh;
        max-height: 250vh;
    }

    .information{
        padding-top: 13vw;

        &__block{
            &-hundred{
                width: calc(20vw + 30vh);
            }

            &-percents{
                img{
                    width: calc(2vw + 3.5vh);
                }
            }

            &-title{
                h3{
                    font-size: calc(2.5rem + 3.5vh);
                }
            }

            &-button{
                .button{
                    width: calc(20vw + 15vh);
                    height: calc(5vw + 10vh);
    
                    h1{
                        font-size: calc(2rem + .5vh);
                    }
                }

                #open-modal{
                    font-size: calc(1rem + 1.2vh);
                    margin-top: calc(1rem - 1vh);
                }
            }
        }   
    }

    footer{
        height: calc(10vw + 5vh);

        .footer-logo{
            justify-content: center;

            img{
                width: calc(10vw + 5vh);
            }
        }

        .footer-row{
            height: 80%;
            margin-left: 0;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .copyright{
            font-size: calc(1rem + .7vh);
            border: none;
    
            display: flex;
            justify-content: center;
            align-items: center;

            br{
                display: none;
            }
        }

        .footer-list{
            .footer-list-item{
                margin: 0 calc(1vw + 1vh);

                a{
                    font-size: calc(1rem + .7vh);
                }
            }
        }

        #footer_snow01,
        #footer_snow03,
        #footer_snow05{
            display: none;
        }

        #footer_snow02{
            width: 15vw;
            left: 10%;
        }
        
        #footer_snow04{
            width: 25vw;
            left: 70%;
        }

    }

    #snow{
        width: 150vw;
        left: 0;
        transform: translateX(-20%);
    }

    #presents{
        width: 80vw;
    }

    #candies01{
        width: 100vw;
        object-fit: contain;
        left: 50%;
        bottom: 15vw;
        transform: translateX(-50%);
    }

    #candies02{
        display: none;
    }

    #tree1{
        width: 55vw;
        left: -15vw;
    }

    #tree2{
        display: none;
    }

    #tree3{
        width: 70vw;
        right: -20vw;
    }

    #star1{
        width: 5vw;
        left: 70%;
        bottom: 35vw;
    }

    #star2{
        width: 3vw;
        left: 79%;
        bottom: 50vw;
    }

    #star3{
        width: 3vw;
        left: 75%;
        bottom: 40vw;
    }

    #star4{
        width: 2.5vw;
        left: 76%;
        bottom: 48vw;
    }

    #star5{
        width: 5vw;
        left: 80%;
        bottom: 65vw;
    }

    #star6{
        width: 4vw;
        left: 95%;
        bottom: 55vw;
    }

    #star7{
        display: none;
    }
    
}