@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: .8vw;
}

.page::-webkit-scrollbar {
  display: none;
}

.modal_body::-webkit-scrollbar {
  width: 1vw;
  display: block;
}

.modal_body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1vw 1vw #613BC6;
          box-shadow: inset 0 0 1vw 1vw #613BC6;
  border: solid .35vw transparent;
  border-radius: 5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.modal_body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 1vw 1vw #ec008c;
          box-shadow: inset 0 0 1vw 1vw #ec008c;
  border: solid .35vw transparent;
  border-radius: 5vw;
}

body {
  font-size: .8335vw;
  height: auto;
  background-color: #7247E9;
  background: -o-linear-gradient(#7247E9, #5500C0);
}

html, body {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
  margin-bottom: 0;
}

.page {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url("../images/background_image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  pointer-events: none;
}

.logo {
  position: absolute;
  top: 3vw;
  left: 3vw;
}

.logo embed {
  width: 13vw;
  min-width: 5rem;
}

.content {
  position: relative;
  height: 92vh;
  max-height: 92vh;
  min-height: 92vh;
  overflow: hidden;
}

.information {
  padding-top: 3vw;
  z-index: 100;
}

.information__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information__block .percentage {
  padding-left: 3vw;
}

.information__block-hundred {
  width: 23vw;
  min-width: 12.5rem;
}

.information__block-percents img {
  width: 3vw;
  min-width: 1.7rem;
}

.information__block-title {
  text-align: center;
  margin-top: -1.5rem;
}

.information__block-title embed {
  width: calc(13vw + 10vh);
}

.information__block #deposit {
  margin-top: -1rem;
}

.information__block-button {
  padding-top: 2rem;
}

.information__block-button .button {
  background: url("../images/button.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 15vw;
  min-width: 12rem;
  height: 7vw;
  min-height: 2rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
}

.information__block-button .button .clickable {
  height: 70%;
  width: 95%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
}

.information__block-button .button .clickable:hover h1 {
  opacity: .8;
}

.information__block-button .button h1 {
  font-size: .8vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: .1em;
  text-shadow: -1px -1px 0 #AF002A,   1px -1px 0 #AF002A, -1px  1px 0 #AF002A, 1px  1px 0 #AF002A;
  margin: 0;
  padding: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.information__block #open-modal {
  margin-top: -1vw;
  color: #CDCDCD;
  font-size: .8rem;
  cursor: pointer;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  z-index: 100;
}

.information__block #open-modal:hover {
  opacity: .8;
}

footer {
  height: 8vh;
  background-color: #27264B;
  z-index: 100;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-row {
  width: 100%;
}

footer .footer-logo {
  margin-left: 2vw;
}

footer .footer-logo img {
  width: 100%;
}

footer .footer-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: -3.5%;
}

footer .footer-list .footer-list-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem;
}

footer .footer-list .footer-list-item a {
  color: #43426D;
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  text-decoration: none;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

footer .footer-list .footer-list-item a:hover {
  text-decoration: none;
  opacity: .8;
}

footer .copyright {
  color: #43426D;
  font-family: 'Roboto', sans-serif;
  font-size: .6vw;
  border-left: 1px solid #43426D;
}

footer #garland_on {
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
  width: 110vw;
  opacity: 0;
}

footer #garland_off {
  width: 110vw;
}

footer .footer-snow {
  position: absolute;
}

footer #footer_snow01 {
  width: 7vw;
  top: -10%;
  left: 4%;
  z-index: 1000;
}

footer #footer_snow02 {
  width: 4vw;
  top: -10%;
  left: 25%;
  z-index: 1000;
}

footer #footer_snow03 {
  width: 7vw;
  top: -10%;
  left: 45%;
  z-index: 1000;
}

footer #footer_snow04 {
  width: 7vw;
  top: -10%;
  left: 70%;
  z-index: 1000;
}

footer #footer_snow05 {
  width: 7vw;
  top: -10%;
  right: -4%;
  z-index: 1000;
}

.my_modal {
  width: 50%;
  height: auto;
  display: none;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #613BC6;
  z-index: 10500;
  border-radius: .8vw;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.my_modal .modal_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4vw;
}

.my_modal .close_button {
  right: 3.5%;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: .9vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my_modal .close_button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.my_modal .heading {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.my_modal .modal_body {
  height: 50vh;
  width: 95%;
  padding: 2rem;
  color: #6A698C;
  background-color: #1F1240;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: .7vw;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-box-shadow: inset 0 0 .5vw #000000;
  box-shadow: inset 0 0 .5vw #000000;
}

.my_modal .button_wrapper {
  width: 95%;
  height: 12vh;
  min-height: 12vh;
  max-height: 12vh;
}

.my_modal .button_wrapper .modal_button {
  width: 100%;
  height: 70%;
  background: url("../images/modal_button.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: .6vw;
  -webkit-box-shadow: 0px 0.2vw 1vw 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0.2vw 1vw 0px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.my_modal .button_wrapper .modal_button a {
  font-size: 1.2vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.my_modal .button_wrapper .modal_button a:hover {
  text-decoration: none;
}

.coverage {
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  z-index: 8000;
  background-color: #1F0B36;
  opacity: 0;
  display: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.drawings {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

#snow {
  bottom: -5vw;
  width: 100%;
  z-index: 9;
}

#presents {
  bottom: 1vw;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20vw;
}

#candies01 {
  width: 50vw;
  left: -10vw;
  bottom: -18vw;
  z-index: 8;
}

#candies02 {
  width: 35vw;
  right: 0;
  bottom: -5vw;
  z-index: 8;
}

#star1 {
  width: 2vw;
  left: 3vw;
  bottom: 23vw;
  -webkit-animation: 1.5s ease infinite star1_anim;
          animation: 1.5s ease infinite star1_anim;
}

#star2 {
  width: 3vw;
  left: 8vw;
  bottom: 27vw;
  -webkit-animation: 2.5s ease infinite star2_anim;
          animation: 2.5s ease infinite star2_anim;
}

#star3 {
  width: 2.7vw;
  left: 23vw;
  bottom: 35vw;
  -webkit-animation: 2.5s ease infinite star3_anim;
          animation: 2.5s ease infinite star3_anim;
}

#star4 {
  width: 2vw;
  right: 24vw;
  bottom: 20vw;
  -webkit-animation: 2.5s ease infinite star4_anim;
          animation: 2.5s ease infinite star4_anim;
}

#star5 {
  width: 3vw;
  right: 20vw;
  bottom: 25vw;
  -webkit-animation: 3s ease infinite star5_anim;
          animation: 3s ease infinite star5_anim;
}

#star6 {
  width: 3vw;
  right: 18vw;
  bottom: 35vw;
  -webkit-animation: 3.5s ease infinite star6_anim;
          animation: 3.5s ease infinite star6_anim;
}

#star7 {
  width: 2.5vw;
  right: 1vw;
  bottom: 30vw;
  -webkit-animation: 3.5s ease infinite star7_anim;
          animation: 3.5s ease infinite star7_anim;
}

@-webkit-keyframes star1_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes star1_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes star2_anim {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes star2_anim {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes star3_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes star3_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes star4_anim {
  0% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  50% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes star4_anim {
  0% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  50% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@-webkit-keyframes star5_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes star5_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes star6_anim {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes star6_anim {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes star7_anim {
  0% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  50% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes star7_anim {
  0% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  50% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

#tree1 {
  bottom: 0;
  left: 8vw;
  width: 18vw;
  z-index: 2;
}

#tree2 {
  width: 22vw;
  bottom: 0;
  left: 14vw;
  z-index: 0;
}

#tree3 {
  right: 0;
  bottom: 0;
  width: 28vw;
}

@media only screen and (max-height: 45vw) {
  .content {
    height: 45vw;
    max-height: 45vw;
    min-height: 45vw;
  }
  html, body, .page {
    overflow-y: scroll;
  }
  html, body, .page::-webkit-scrollbar {
    display: none;
  }
  footer {
    height: 6.3vw;
  }
}

@media only screen and (max-width: 955px) {
  .my_modal {
    border-radius: 3vw;
  }
  .my_modal .modal_body {
    border-radius: 2vw;
  }
  .my_modal .button_wrapper .modal_button {
    border-radius: 2vw;
  }
}

@media only screen and (pointer: fine) and (max-width: 955px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .modal_body::-webkit-scrollbar {
    display: none;
  }
  html, body {
    overflow-y: scroll;
  }
  .page {
    height: 100%;
    overflow-y: scroll;
  }
  .logo {
    position: absolute;
    top: 3.7%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .logo embed {
    width: calc(10vw + 13vh);
  }
  .content {
    height: auto;
    min-height: 100vh;
    max-height: 250vh;
  }
  .information {
    padding-top: 13vw;
  }
  .information__block-hundred {
    width: calc(20vw + 30vh);
  }
  .information__block-percents img {
    width: calc(2vw + 3.5vh);
  }
  .information__block-title embed {
    width: 40vw;
  }
  .information__block-button .button {
    width: calc(20vw + 18vh);
    height: calc(5vw + 10vh);
  }
  .information__block-button .button .clickable {
    height: 65%;
  }
  .information__block-button .button h1 {
    font-size: calc(2rem + .5vh);
  }
  .information__block #open-modal {
    font-size: calc(1rem + 1.2vh);
  }
  footer {
    height: calc(10vw + 10vh);
  }
  footer .footer-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  footer .footer-logo img {
    width: calc(10vw + 5vh);
  }
  footer .footer-row {
    height: 80%;
    margin-left: 0;
    margin-top: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright {
    font-size: calc(1rem + .7vh);
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright br {
    display: none;
  }
  footer .footer-list .footer-list-item {
    margin: 0 calc(1vw + 1vh);
  }
  footer .footer-list .footer-list-item a {
    font-size: calc(1rem + .7vh);
  }
  footer #footer_snow01,
  footer #footer_snow03,
  footer #footer_snow05 {
    display: none;
  }
  footer #footer_snow02 {
    width: 10vw;
    top: -5%;
    left: 10%;
  }
  footer #footer_snow04 {
    width: 15vw;
    left: 80%;
    top: -5%;
  }
  #presents {
    width: 50vw;
  }
  #candies01 {
    width: 100vw;
    left: 50%;
    -o-object-fit: contain;
       object-fit: contain;
    bottom: -50vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #candies02 {
    display: none;
  }
  #tree1 {
    width: 35vw;
    left: -5vw;
  }
  #tree2 {
    display: none;
  }
  #tree3 {
    width: 45vw;
    right: -10vw;
  }
  #star1 {
    width: 5vw;
    left: 70%;
    bottom: 35vw;
  }
  #star2 {
    width: 3vw;
    left: 79%;
    bottom: 50vw;
  }
  #star3 {
    width: 3vw;
    left: 75%;
    bottom: 40vw;
  }
  #star4 {
    width: 2.5vw;
    left: 76%;
    bottom: 48vw;
  }
  #star5 {
    width: 5vw;
    left: 80%;
    bottom: 65vw;
  }
  #star6 {
    width: 4vw;
    left: 95%;
    bottom: 55vw;
  }
  #star7 {
    display: none;
  }
  .my_modal {
    width: 85%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .my_modal .modal_header {
    height: calc(3vw + 5vh);
  }
  .my_modal .heading {
    font-size: calc(1vw + 1.4vh);
  }
  .my_modal .close_button {
    right: calc(2vw + 3.2vh);
    width: calc(.7vw + 1.5vh);
  }
  .my_modal .button_wrapper {
    height: 8vh;
    min-height: 8vh;
  }
  .my_modal .button_wrapper .modal_button a {
    font-size: calc(1vw + 1vh);
  }
  .my_modal .modal_body {
    padding: calc(.7vw + .7vh);
    font-size: calc(1vw + 1vh);
    width: 95%;
  }
}

@media only screen and (pointer: coarse) and (max-width: 955px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .modal_body::-webkit-scrollbar {
    display: none;
  }
  html, body {
    overflow-y: scroll;
  }
  .page {
    height: 100%;
    overflow-y: scroll;
  }
  .logo {
    position: absolute;
    top: 3.7%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .logo embed {
    width: calc(10vw + 13vh);
  }
  .content {
    height: calc(100vh + 10vw);
    min-height: 100vh;
    max-height: 250vh;
  }
  .information {
    padding-top: 13vw;
  }
  .information__block-hundred {
    width: calc(20vw + 30vh);
  }
  .information__block-percents img {
    width: calc(2vw + 3.5vh);
  }
  .information__block-title embed {
    width: calc(30vw + 20vh);
  }
  .information__block-button .button {
    width: calc(20vw + 18vh);
    height: calc(5vw + 10vh);
  }
  .information__block-button .button .clickable {
    height: 65%;
  }
  .information__block-button .button h1 {
    font-size: calc(2rem + .5vh);
  }
  .information__block #open-modal {
    font-size: calc(1rem + 1.2vh);
  }
  footer {
    height: calc(10vw + 10vh);
  }
  footer .footer-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  footer .footer-logo img {
    width: calc(10vw + 5vh);
  }
  footer .footer-row {
    height: 80%;
    margin-left: 0;
    margin-top: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright {
    font-size: calc(1rem + .7vh);
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright br {
    display: none;
  }
  footer .footer-list .footer-list-item {
    margin: 0 calc(1vw + 1vh);
  }
  footer .footer-list .footer-list-item a {
    font-size: calc(1rem + .7vh);
  }
  footer #footer_snow01,
  footer #footer_snow03,
  footer #footer_snow05 {
    display: none;
  }
  footer #footer_snow02 {
    width: 15vw;
    top: -5%;
    left: 10%;
  }
  footer #footer_snow04 {
    width: 25vw;
    left: 70%;
    top: -5%;
  }
  #snow {
    width: 150vw;
    left: 0;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  #presents {
    width: 80vw;
  }
  #candies01 {
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
    left: 50%;
    bottom: -30vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #candies02 {
    display: none;
  }
  #tree1 {
    width: 55vw;
    left: -15vw;
  }
  #tree2 {
    display: none;
  }
  #tree3 {
    width: 70vw;
    right: -20vw;
  }
  #star1 {
    width: 5vw;
    left: 70%;
    bottom: 35vw;
  }
  #star2 {
    width: 3vw;
    left: 79%;
    bottom: 50vw;
  }
  #star3 {
    width: 3vw;
    left: 75%;
    bottom: 40vw;
  }
  #star4 {
    width: 2.5vw;
    left: 76%;
    bottom: 48vw;
  }
  #star5 {
    width: 5vw;
    left: 80%;
    bottom: 65vw;
  }
  #star6 {
    width: 4vw;
    left: 95%;
    bottom: 55vw;
  }
  #star7 {
    display: none;
  }
  .my_modal {
    width: 85%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .my_modal .modal_header {
    height: calc(3vw + 5vh);
  }
  .my_modal .heading {
    font-size: calc(1vw + 1.4vh);
  }
  .my_modal .close_button {
    right: calc(1vw + 1.5vh);
    width: calc(.7vw + 1.5vh);
  }
  .my_modal .button_wrapper {
    height: 8vh;
    min-height: 8vh;
  }
  .my_modal .button_wrapper .modal_button a {
    font-size: calc(1vw + 1vh);
  }
  .my_modal .modal_body {
    padding: calc(.7vw + .7vh);
    font-size: calc(1vw + 1vh);
    width: 95%;
  }
}

@media only screen and (pointer: fine) and (orientation: portrait) {
  ::-webkit-scrollbar {
    display: none;
  }
  .modal_body::-webkit-scrollbar {
    display: none;
  }
  html, body {
    overflow-y: scroll;
  }
  .page {
    height: auto;
  }
  .logo {
    position: absolute;
    top: 3.7%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .logo embed {
    width: calc(10vw + 13vh);
  }
  .content {
    height: auto;
    min-height: 100vh;
    max-height: 250vh;
  }
  .information {
    padding-top: 13vw;
  }
  .information__block-hundred {
    width: calc(20vw + 30vh);
  }
  .information__block-percents img {
    width: calc(2vw + 3.5vh);
  }
  .information__block-title embed {
    width: 40vw;
  }
  .information__block-button .button {
    width: calc(20vw + 18vh);
    height: calc(5vw + 10vh);
  }
  .information__block-button .button .clickable {
    height: 65%;
  }
  .information__block-button .button h1 {
    font-size: calc(2rem + .5vh);
  }
  .information__block #open-modal {
    font-size: calc(1rem + 1.2vh);
  }
  footer {
    height: calc(10vw + 10vh);
    margin: 0;
  }
  footer .footer-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-logo img {
    width: calc(10vw + 5vh);
  }
  footer .footer-row {
    height: 80%;
    margin-left: 0;
    margin-top: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright {
    font-size: calc(1rem + .7vh);
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright br {
    display: none;
  }
  footer .footer-list .footer-list-item {
    margin: 0 calc(1vw + 1vh);
  }
  footer .footer-list .footer-list-item a {
    font-size: calc(1rem + .7vh);
  }
  footer #footer_snow01,
  footer #footer_snow03,
  footer #footer_snow05 {
    display: none;
  }
  footer #footer_snow02 {
    width: 10vw;
    top: -5%;
    left: 10%;
  }
  footer #footer_snow04 {
    width: 15vw;
    left: 80%;
    top: -5%;
  }
  #presents {
    width: 50vw;
  }
  #candies01 {
    width: 100vw;
    left: 50%;
    -o-object-fit: contain;
       object-fit: contain;
    bottom: -45vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #candies02 {
    display: none;
  }
  #tree1 {
    width: 35vw;
    left: -5vw;
  }
  #tree2 {
    display: none;
  }
  #tree3 {
    width: 45vw;
    right: -10vw;
  }
  #star1 {
    width: 5vw;
    left: 70%;
    bottom: 35vw;
  }
  #star2 {
    width: 3vw;
    left: 79%;
    bottom: 50vw;
  }
  #star3 {
    width: 3vw;
    left: 75%;
    bottom: 40vw;
  }
  #star4 {
    width: 2.5vw;
    left: 76%;
    bottom: 48vw;
  }
  #star5 {
    width: 5vw;
    left: 80%;
    bottom: 65vw;
  }
  #star6 {
    width: 4vw;
    left: 95%;
    bottom: 55vw;
  }
  #star7 {
    display: none;
  }
  .my_modal {
    width: 85%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .my_modal .modal_header {
    height: calc(3vw + 5vh);
  }
  .my_modal .heading {
    font-size: calc(1vw + 1.4vh);
  }
  .my_modal .close_button {
    right: calc(2vw + 3.2vh);
    width: calc(.7vw + 1.5vh);
  }
  .my_modal .button_wrapper {
    height: 8vh;
    min-height: 8vh;
  }
  .my_modal .button_wrapper .modal_button a {
    font-size: calc(1vw + 1vh);
  }
  .my_modal .modal_body {
    padding: calc(.7vw + .7vh);
    font-size: calc(1vw + 1vh);
    width: 95%;
  }
}

@media only screen and (pointer: coarse) and (width: 540px) and (height: 720px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .modal_body::-webkit-scrollbar {
    display: none;
  }
  html, body {
    overflow-y: scroll;
  }
  .page {
    height: auto;
  }
  .logo {
    position: absolute;
    top: 3.7%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .logo embed {
    width: calc(10vw + 13vh);
  }
  .content {
    height: 120vh;
    min-height: 100vh;
    max-height: 250vh;
  }
  .information {
    padding-top: 13vw;
  }
  .information__block-hundred {
    width: calc(20vw + 30vh);
  }
  .information__block-percents img {
    width: calc(2vw + 3.5vh);
  }
  .information__block-title embed {
    width: 50vw;
  }
  .information__block-button .button {
    width: calc(20vw + 18vh);
    height: calc(5vw + 10vh);
  }
  .information__block-button .button .clickable {
    height: 65%;
  }
  .information__block-button .button h1 {
    font-size: calc(2rem + .5vh);
  }
  .information__block #open-modal {
    font-size: calc(1rem + 1.2vh);
  }
  footer {
    height: calc(10vw + 10vh);
  }
  footer .footer-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  footer .footer-logo img {
    width: calc(10vw + 5vh);
  }
  footer .footer-row {
    height: 80%;
    margin-left: 0;
    margin-top: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright {
    font-size: calc(1rem + .7vh);
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright br {
    display: none;
  }
  footer .footer-list .footer-list-item {
    margin: 0 calc(1vw + 1vh);
  }
  footer .footer-list .footer-list-item a {
    font-size: calc(1rem + .7vh);
  }
  footer #footer_snow01,
  footer #footer_snow03,
  footer #footer_snow05 {
    display: none;
  }
  footer #footer_snow02 {
    width: 10vw;
    left: 10%;
  }
  footer #footer_snow04 {
    width: 15vw;
    left: 80%;
  }
  #presents {
    width: 50vw;
  }
  #candies01 {
    width: 100vw;
    left: 50%;
    -o-object-fit: contain;
       object-fit: contain;
    bottom: -33vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #candies02 {
    display: none;
  }
  #tree1 {
    width: 35vw;
    left: -5vw;
  }
  #tree2 {
    display: none;
  }
  #tree3 {
    width: 45vw;
    right: -10vw;
  }
  #star1 {
    width: 5vw;
    left: 70%;
    bottom: 35vw;
  }
  #star2 {
    width: 3vw;
    left: 79%;
    bottom: 50vw;
  }
  #star3 {
    width: 3vw;
    left: 75%;
    bottom: 40vw;
  }
  #star4 {
    width: 2.5vw;
    left: 76%;
    bottom: 48vw;
  }
  #star5 {
    width: 5vw;
    left: 80%;
    bottom: 65vw;
  }
  #star6 {
    width: 4vw;
    left: 95%;
    bottom: 55vw;
  }
  #star7 {
    display: none;
  }
}

@media only screen and (pointer: coarse) and (width: 768px) and (height: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .modal_body::-webkit-scrollbar {
    display: none;
  }
  .content {
    height: 130vh !important;
    min-height: 100vh;
    max-height: 250vh;
  }
  html, body {
    overflow-y: scroll;
  }
  .information__block-title embed {
    width: 50vw;
  }
}

@media only screen and (pointer: coarse) and (width: 1024px) and (height: 1366px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .modal_body::-webkit-scrollbar {
    display: none;
  }
  html, body {
    overflow-y: scroll;
  }
  .page {
    height: 100%;
    overflow-y: scroll;
  }
  .logo {
    position: absolute;
    top: 3.7%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .logo embed {
    width: calc(10vw + 13vh);
  }
  .content {
    height: 140vh !important;
    min-height: 100vh;
    max-height: 250vh;
  }
  .information {
    padding-top: 13vw;
  }
  .information__block-hundred {
    width: calc(20vw + 30vh);
  }
  .information__block-percents img {
    width: calc(2vw + 3.5vh);
  }
  .information__block-title embed {
    width: 50vw;
  }
  .information__block-button .button {
    width: calc(20vw + 18vh);
    height: calc(5vw + 10vh);
  }
  .information__block-button .button .clickable {
    height: 65%;
  }
  .information__block-button .button h1 {
    font-size: calc(2rem + .5vh);
  }
  .information__block #open-modal {
    font-size: calc(1rem + 1.2vh);
  }
  footer {
    height: calc(10vw + 10vh) !important;
  }
  footer .footer-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  footer .footer-logo img {
    width: calc(10vw + 5vh);
  }
  footer .footer-row {
    height: 80%;
    margin-left: 0;
    margin-top: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright {
    font-size: calc(1rem + .7vh);
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright br {
    display: none;
  }
  footer .footer-list .footer-list-item {
    margin: 0 calc(1vw + 1vh);
  }
  footer .footer-list .footer-list-item a {
    font-size: calc(1rem + .7vh);
  }
  footer #footer_snow01,
  footer #footer_snow03,
  footer #footer_snow05 {
    display: none;
  }
  footer #footer_snow02 {
    width: 10vw;
    top: -5%;
    left: 10%;
  }
  footer #footer_snow04 {
    width: 15vw;
    left: 80%;
    top: -5%;
  }
  #presents {
    width: 50vw;
  }
  #candies01 {
    width: 100vw;
    left: 50%;
    -o-object-fit: contain;
       object-fit: contain;
    bottom: -35vw !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #candies02 {
    display: none;
  }
  #tree1 {
    width: 35vw;
    left: -5vw;
  }
  #tree2 {
    display: none;
  }
  #tree3 {
    width: 45vw;
    right: -10vw;
  }
  #star1 {
    width: 5vw;
    left: 70%;
    bottom: 35vw;
  }
  #star2 {
    width: 3vw;
    left: 79%;
    bottom: 50vw;
  }
  #star3 {
    width: 3vw;
    left: 75%;
    bottom: 40vw;
  }
  #star4 {
    width: 2.5vw;
    left: 76%;
    bottom: 48vw;
  }
  #star5 {
    width: 5vw;
    left: 80%;
    bottom: 65vw;
  }
  #star6 {
    width: 4vw;
    left: 95%;
    bottom: 55vw;
  }
  #star7 {
    display: none;
  }
  .my_modal {
    width: 85%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    border-radius: 2vw;
  }
  .my_modal .modal_header {
    height: calc(3vw + 5vh);
  }
  .my_modal .heading {
    font-size: calc(1vw + 1.4vh);
  }
  .my_modal .close_button {
    right: calc(2vw + 3.2vh);
    width: calc(.7vw + 1.5vh);
  }
  .my_modal .button_wrapper {
    height: 8vh;
    min-height: 8vh;
  }
  .my_modal .button_wrapper .modal_button {
    border-radius: 2vw;
  }
  .my_modal .button_wrapper .modal_button a {
    font-size: calc(1vw + 1vh);
  }
  .my_modal .modal_body {
    padding: calc(.7vw + .7vh);
    font-size: calc(1vw + 1vh);
    width: 95%;
    border-radius: 2vw;
  }
}

@media only screen and (pointer: coarse) and (min-width: 980px) and (min-height: 1000px) {
  html, body {
    overflow-y: scroll;
  }
  .page {
    height: auto;
    overflow-y: scroll;
  }
  .logo {
    position: absolute;
    top: 3.7%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .logo embed {
    width: calc(10vw + 13vh);
  }
  .content {
    height: calc(100vh + 10vw);
    min-height: 100vh;
    max-height: 250vh;
  }
  .information {
    padding-top: 13vw;
  }
  .information__block-hundred {
    width: calc(20vw + 30vh);
  }
  .information__block-percents img {
    width: calc(2vw + 3.5vh);
  }
  .information__block-title embed {
    width: 75vw;
  }
  .information__block-button .button {
    width: calc(20vw + 18vh);
    height: calc(5vw + 10vh);
  }
  .information__block-button .button .clickable {
    height: 65%;
  }
  .information__block-button .button h1 {
    font-size: calc(2rem + .5vh);
  }
  .information__block #open-modal {
    font-size: calc(1rem + 1.2vh);
  }
  footer {
    height: calc(10vw + 10vh);
  }
  footer .footer-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-logo img {
    width: calc(10vw + 5vh);
  }
  footer .footer-row {
    height: 80%;
    margin-left: 0;
    margin-top: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright {
    font-size: calc(1rem + .7vh);
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright br {
    display: none;
  }
  footer .footer-list .footer-list-item {
    margin: 0 calc(1vw + 1vh);
  }
  footer .footer-list .footer-list-item a {
    font-size: calc(1rem + .7vh);
  }
  footer #footer_snow01,
  footer #footer_snow03,
  footer #footer_snow05 {
    display: none;
  }
  footer #footer_snow02 {
    width: 15vw;
    left: 10%;
  }
  footer #footer_snow04 {
    width: 25vw;
    left: 70%;
  }
  #snow {
    width: 150vw;
    left: 0;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  #presents {
    width: 80vw;
  }
  #candies01 {
    width: 100vw;
    -o-object-fit: contain;
       object-fit: contain;
    left: 50%;
    bottom: -30vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #candies02 {
    display: none;
  }
  #tree1 {
    width: 55vw;
    left: -15vw;
  }
  #tree2 {
    display: none;
  }
  #tree3 {
    width: 70vw;
    right: -20vw;
  }
  #star1 {
    width: 5vw;
    left: 70%;
    bottom: 35vw;
  }
  #star2 {
    width: 3vw;
    left: 79%;
    bottom: 50vw;
  }
  #star3 {
    width: 3vw;
    left: 75%;
    bottom: 40vw;
  }
  #star4 {
    width: 2.5vw;
    left: 76%;
    bottom: 48vw;
  }
  #star5 {
    width: 5vw;
    left: 80%;
    bottom: 65vw;
  }
  #star6 {
    width: 4vw;
    left: 95%;
    bottom: 55vw;
  }
  #star7 {
    display: none;
  }
  .my_modal {
    width: 90%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .my_modal .modal_header {
    height: calc(3vw + 5vh);
  }
  .my_modal .heading {
    font-size: calc(1vw + 1.4vh);
  }
  .my_modal .close_button {
    right: calc(2vw + 3.2vh);
    width: calc(.7vw + 1.5vh);
  }
  .my_modal .button_wrapper {
    height: 8vh;
    min-height: 8vh;
  }
  .my_modal .button_wrapper .modal_button a {
    font-size: calc(1vw + 1vh);
  }
  .my_modal .modal_body {
    padding: calc(.7vw + .7vh);
    font-size: calc(1vw + 1vh);
    width: 95%;
  }
}
/*# sourceMappingURL=styles.css.map */